body{
font-size:30px ;
color:white;
background-color: violet;
text-align: center;
}
img{
width: 20%;
height:20%;
}
div{
margin-top: 15px;
}

.section-style{
margin-right: 25px;
margin-left: 25px;
background-color:violet;
}
.image-section{
display:flex ;
justify-content: center;
border-style:printed;
border-color:rgb(248, 238, 144);
border:1px;
border-radius:80px;
padding:5px;
width:450px
}